@page "/"
@inject IApiClient apiClient

<PageTitle>Cars</PageTitle>

<h1>Cars</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>CarMaker</th>
                <th>Price</th>
                <th>Colour</th>
                <th>Description</th>
                <th>KmTariff</th>
                <th>Category</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>@car.Model</td>
                    <td>@car.CarMaker</td>
                    <td>@car.Price</td>
                    <td>@car.Colour</td>
                    <td>@car.Description</td>
                    <td>@car.KmTariff</td>
                    <td>@car.Category</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Car> cars;

    protected override async Task OnInitializedAsync()
    {
        var result = await apiClient.List();
        cars = result.Value;
    }

}