@model RentingsIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <div class="form-group">
        <label class="control-label">Märksõna</label>
        <input asp-for="Search.Keyword" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Rent tehtud</label>
        <select asp-for="Search.Active" class="form-control">
            <option value="">-</option>
            <option value="true">Jah</option>
            <option value="false">Ei</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Otsi</button>
        <a asp-controller="Rentings" asp-action="Index" class="btn btn-primary">Reset</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].RentalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].RentalDueTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].DriveDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].Customer)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDueTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model.Data))
